<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>

    <proxy enabled="true" preserveHostHeader="true" />

    <rewrite>
      <rules>

        <rule name="RPVE API" stopProcessing="true">
          <match url="^api/(.*)" />
          <action type="Rewrite" url="http://localhost:8009/api/{R:1}" />
        </rule>

        <rule name="RPVE Docs" stopProcessing="true">
          <match url="^(docs|openapi.json|redoc)(.*)" />
          <action type="Rewrite" url="http://localhost:8009/{R:0}" />
        </rule>

        <rule name="React Routes" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/(RPVE/)?(api|docs|openapi.json|redoc)" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.html" />
        </rule>

      </rules>
    </rewrite>

  </system.webServer>
</configuration>